data/flows.json
[{"id":"f37d137d.f7c26","type":"tab","label":"Initial Switch","disabled":true,"info":""},{"id":"bcdf73f2.b866e","type":"tab","label":"Responding","disabled":false,"info":""},{"id":"e1b3dcee.1681","type":"tab","label":"Slackbot","disabled":false,"info":""},{"id":"3ea711c7.59fbee","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"a227c0af.de4298","type":"slackbot-controller","z":"","name":"android17","bot_token":"xoxb-362121671893-361288114848-96kexT5y1U4qIgXNkvjw906X"},{"id":"3e65cac8.85975e","type":"http request","z":"f37d137d.f7c26","name":"Rasa Request","method":"POST","ret":"obj","url":"http://rasa:5000/parse","tls":"","x":300,"y":40,"wires":[["b27c373b.a97188"]]},{"id":"b27c373b.a97188","type":"switch","z":"f37d137d.f7c26","name":"Intent Switch","property":"payload.intent.name","propertyType":"msg","rules":[{"t":"else"}],"checkall":"false","outputs":1,"x":490,"y":40,"wires":[["8581e36a.36b23"]]},{"id":"8964aeb1.84579","type":"http request","z":"bcdf73f2.b866e","name":"Rasa Request","method":"POST","ret":"obj","url":"http://rasa:5000/parse","tls":"","x":319,"y":64,"wires":[["1b569240.cc4356"]]},{"id":"ebd5ca5d.4abf1","type":"comment","z":"bcdf73f2.b866e","name":"Greet Intent Fulfillment","info":"","x":140,"y":220,"wires":[]},{"id":"bcdc282f.26cf8","type":"function","z":"bcdf73f2.b866e","name":"","func":"var intentResponse = [\n    \"Hello\",\n    \"Hi\"\n]\n\nvar randomInt = Math.floor(Math.random() * intentResponse.length)\n    \nmsg.payload = intentResponse[randomInt]\n\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":260,"wires":[["446bd877.5435b8"]]},{"id":"4e3cb697.e83c08","type":"comment","z":"bcdf73f2.b866e","name":"Farewell Intent Fulfillment","info":"","x":150,"y":320,"wires":[]},{"id":"abc4235f.3a944","type":"function","z":"bcdf73f2.b866e","name":"","func":"var intentResponse = [\n    \"Goodbye\",\n    \"Bye\"\n]\n\nvar randomInt = Math.floor(Math.random() * intentResponse.length)\n    \nmsg.payload = intentResponse[randomInt]\n\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":360,"wires":[["446bd877.5435b8"]]},{"id":"f2a842a5.c28e5","type":"link in","z":"bcdf73f2.b866e","name":"","links":["c727ced7.0813a","4b3eb77a.535a5"],"x":55,"y":360,"wires":[["abc4235f.3a944"]]},{"id":"25317f0b.da03c","type":"link in","z":"bcdf73f2.b866e","name":"","links":["caebfeed.7bee68","3ae30e24.c65222"],"x":55,"y":260,"wires":[["bcdc282f.26cf8"]]},{"id":"82b46fea.8dac58","type":"function","z":"bcdf73f2.b866e","name":"","func":"var usrmsg = msg.payload.text;\n\n/*Negation of all keywords, responce is complaint about off-topic queries*/\nif (!usrmsg.includes(\"papers\") && !usrmsg.includes(\"software\") && !usrmsg.includes(\"bcis\") && !usrmsg.includes(\"requirements\") && !usrmsg.includes(\"prerequisites\") && !usrmsg.includes(\"engineering\") && !usrmsg.includes(\"co-requisites\") && !usrmsg.includes(\"majors\") )\n{\n    var intentResponse = [\n    \"Now that doesn't seem like it is even on topic.\",\n    \"You do realise I am only a robot, right?\"\n    ]\n\n    var randomInt = Math.floor(Math.random() * intentResponse.length)\n    \n    msg.payload = intentResponse[randomInt]\n}\n/*Else it is on topic, but the bot doesn't understand what is requested.*/\nelse\n{\n    var intentResponse = [\n    \"I'm not certain what you mean, can you try re-phrasing that?\",\n    \"Sorry I do not understand what you are asking, could you re-phrase that?\",\n    \"I am not sure what your are asking about. Can you please clarify?\"\n    ]\n\n    var randomInt = Math.floor(Math.random() * intentResponse.length)\n    \n    msg.payload = intentResponse[randomInt]\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":742,"y":158.5,"wires":[["446bd877.5435b8"]]},{"id":"446bd877.5435b8","type":"http response","z":"bcdf73f2.b866e","name":"HTTP Response","statusCode":"","headers":{},"x":960,"y":520,"wires":[]},{"id":"2a74fdb6.c24e22","type":"http in","z":"bcdf73f2.b866e","name":"HTTP Request","url":"/chat","method":"post","upload":false,"swaggerDoc":"","x":126,"y":64,"wires":[["8964aeb1.84579"]]},{"id":"8581e36a.36b23","type":"http response","z":"f37d137d.f7c26","name":"HTTP Response","statusCode":"","headers":{},"x":600,"y":120,"wires":[]},{"id":"1af81bb9.bdb274","type":"http in","z":"f37d137d.f7c26","name":"HTTP Request","url":"/chat","method":"post","upload":false,"swaggerDoc":"","x":93,"y":37,"wires":[["3e65cac8.85975e"]]},{"id":"97ab1290.5e64f8","type":"slackbot-listen","z":"e1b3dcee.1681","slackbot":"a227c0af.de4298","name":"","x":102,"y":45,"wires":[["664cb854.256538"]]},{"id":"a93a4c73.4d9728","type":"slackbot-reply","z":"e1b3dcee.1681","slackbot":"a227c0af.de4298","name":"","x":774,"y":55,"wires":[]},{"id":"d8710263.5737f8","type":"http request","z":"e1b3dcee.1681","name":"","method":"POST","ret":"txt","url":"","tls":"","x":515,"y":52,"wires":[["a93a4c73.4d9728"]]},{"id":"664cb854.256538","type":"function","z":"e1b3dcee.1681","name":"","func":"var query = msg.payload\nvar model = 'chatBot17'\n\nmsg.url = 'http://node-red:1880/chat'\nmsg.payload = {\n    \"q\": query,\n    \"model\": model\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":299,"y":46,"wires":[["d8710263.5737f8"]]},{"id":"34fb2246.4e823e","type":"comment","z":"bcdf73f2.b866e","name":"suggestedPapers Intent Fulfillment","info":"","x":178,"y":417,"wires":[]},{"id":"86bc1c4e.09229","type":"function","z":"bcdf73f2.b866e","name":"","func":"var usrmsg = msg.payload.text;\n\nif (usrmsg.includes(\"papers\") && usrmsg.includes(\"software development\") && usrmsg.includes(\"major\"))\n{\n    msg.payload = \"You should take the following papers for the first year of the bachelors to work towards the software development major:\\n\\n\" +\n                    \"Year 1:\\n\" +\n                    \"COMM501 Applied Communication (15 points)\\n\" +\n                    \"COMP500 Programming 1 (15 points)\\n\" +\n                    \"COMP501 Computing Technology in Society (15 points)\\n\" +\n                    \"COMP502 Foundations of IT Infrastructure (15 points)\\n\" +\n                    \"COMP503 Programming 2 (15 points)\\n\" +\n                    \"ENEL504 Computer Network Principles (15 points)\\n\" +\n                    \"INFS500 Enterprise Systems (15 points)\\n\\n\" +\n                    \"Choose one of the following:\\n\" +\n                    \"MATH500 Mathematical Concepts (15 points)\\n\" +\n                    \"MATH501 Differential and Integral Calculus (15 points)\\n\" +\n                    \"MATH502 Algebra and Discrete Mathematics (15 points)\\n\" +\n                    \"STAT500 Applied Statistics (15 points)\";\n}\nelse if (usrmsg.includes(\"papers\") && usrmsg.includes(\"networking\") && usrmsg.includes(\"major\"))\n{\n    msg.payload = \"You should take the following papers for the first year of the bachelors to work towards the networks and security major:\\n\\n\" +\n                    \"Year 1:\\n\" +\n                    \"COMM501 Applied Communication (15 points)\\n\" +\n                    \"COMP500 Programming 1 (15 points)\\n\" +\n                    \"COMP501 Computing Technology in Society (15 points)\\n\" +\n                    \"COMP502 Foundations of IT Infrastructure (15 points)\\n\" +\n                    \"COMP503 Programming 2 (15 points)\\n\" +\n                    \"ENEL504 Computer Network Principles (15 points)\\n\" +\n                    \"INFS500 Enterprise Systems (15 points)\\n\\n\" +\n                    \"Choose one of the following:\\n\" +\n                    \"MATH500 Mathematical Concepts (15 points)\\n\" +\n                    \"MATH501 Differential and Integral Calculus (15 points)\\n\" +\n                    \"MATH502 Algebra and Discrete Mathematics (15 points)\\n\" +\n                    \"STAT500 Applied Statistics (15 points)\";\n}\nelse if (usrmsg.includes(\"papers\") && usrmsg.includes(\"it service science\") && usrmsg.includes(\"major\"))\n{\n    msg.payload = \"You should take the following papers for the first year of the bachelors to work towards the it service science major:\\n\\n\" +\n                    \"Year 1:\\n\" +\n                    \"COMM501 Applied Communication (15 points)\\n\" +\n                    \"COMP500 Programming 1 (15 points)\\n\" +\n                    \"COMP501 Computing Technology in Society (15 points)\\n\" +\n                    \"COMP502 Foundations of IT Infrastructure (15 points)\\n\" +\n                    \"COMP503 Programming 2 (15 points)\\n\" +\n                    \"ENEL504 Computer Network Principles (15 points)\\n\" +\n                    \"INFS500 Enterprise Systems (15 points)\\n\\n\" +\n                    \"Choose one of the following:\\n\" +\n                    \"MATH500 Mathematical Concepts (15 points)\\n\" +\n                    \"MATH501 Differential and Integral Calculus (15 points)\\n\" +\n                    \"MATH502 Algebra and Discrete Mathematics (15 points)\\n\" +\n                    \"STAT500 Applied Statistics (15 points)\";\n}\nelse\n{\n    msg.payload = \"I'm sorry, what major did you mean? Can you type that out again?\"\n}\n\nreturn msg;","outputs":"1","noerr":0,"x":690,"y":458,"wires":[["446bd877.5435b8"]]},{"id":"7a05639b.b2e584","type":"link in","z":"bcdf73f2.b866e","name":"","links":["20e47e25.5876ea"],"x":53,"y":457,"wires":[["86bc1c4e.09229"]]},{"id":"58d2af17.ab6b2","type":"switch","z":"bcdf73f2.b866e","name":"Intent Switch","property":"payload.intent.name","propertyType":"msg","rules":[{"t":"eq","v":"greet","vt":"str"},{"t":"eq","v":"farewell","vt":"str"},{"t":"eq","v":"suggestedPapers","vt":"str"},{"t":"eq","v":"paperRequirements","vt":"str"},{"t":"eq","v":"getMajors","vt":"str"},{"t":"eq","v":"bcisRequirements","vt":"str"},{"t":"eq","v":"jobPapers","vt":"str"}],"checkall":"true","outputs":7,"x":761,"y":57.5,"wires":[["3ae30e24.c65222"],["4b3eb77a.535a5"],["20e47e25.5876ea"],["a49930fd.91e238"],["1353d3ec.2d88e4"],["f0471ee3.eff38"],["85adf979.166a88"]]},{"id":"3ae30e24.c65222","type":"link out","z":"bcdf73f2.b866e","name":"greet Switch","links":["25317f0b.da03c"],"x":892,"y":21.5,"wires":[]},{"id":"4b3eb77a.535a5","type":"link out","z":"bcdf73f2.b866e","name":"farewell Switch","links":["f2a842a5.c28e5"],"x":932,"y":41.5,"wires":[]},{"id":"20e47e25.5876ea","type":"link out","z":"bcdf73f2.b866e","name":"suggested papers Switch","links":["7a05639b.b2e584"],"x":968,"y":64.5,"wires":[]},{"id":"1b569240.cc4356","type":"switch","z":"bcdf73f2.b866e","name":"Confidence Switch","property":"payload.intent.confidence","propertyType":"msg","rules":[{"t":"gt","v":"0.7","vt":"num"},{"t":"else"}],"checkall":"true","outputs":2,"x":521,"y":64,"wires":[["58d2af17.ab6b2"],["1565cf20.75b5f1"]]},{"id":"a49930fd.91e238","type":"link out","z":"bcdf73f2.b866e","name":"paperRequirements Switch","links":["85eecb25.727418"],"x":1000,"y":92.5,"wires":[]},{"id":"1353d3ec.2d88e4","type":"link out","z":"bcdf73f2.b866e","name":"getMajors Switch","links":["19cf1978.02dfff"],"x":1030,"y":122.5,"wires":[]},{"id":"f0471ee3.eff38","type":"link out","z":"bcdf73f2.b866e","name":"bcisRequirements Switch","links":["7edd32ee.060ffc"],"x":1062,"y":152.5,"wires":[]},{"id":"a38f7c2b.72bda8","type":"comment","z":"bcdf73f2.b866e","name":"paperRequirements Intent Fulfillment","info":"","x":188,"y":510,"wires":[]},{"id":"d243812f.a1b68","type":"function","z":"bcdf73f2.b866e","name":"","func":"var usrmsg = msg.payload.text;\n\nif ((usrmsg.includes(\"requirements\") || usrmsg.includes(\"pre-requisites\") || usrmsg.includes(\"prerequisites\") || usrmsg.includes(\"co-requisites\") || usrmsg.includes(\"corequisites\"))&& usrmsg.includes(\"software engineering\"))\n{\n    msg.payload = \"The pre-requisites for Contemporary Methods in Software Engineering are:\\n\" +\n                    \"COMP603 or COMP610 or ENSE600\\n\\n\" +\n                    \"There are no co-requisites for this class.\";\n}\nelse\n{\n    msg.payload = \"I'm sorry, what class did you mean? Can you type that out again, thanks.\"\n}\n\nreturn msg;","outputs":"1","noerr":0,"x":688,"y":550,"wires":[["446bd877.5435b8"]]},{"id":"85eecb25.727418","type":"link in","z":"bcdf73f2.b866e","name":"","links":["a49930fd.91e238"],"x":53,"y":550,"wires":[["d243812f.a1b68"]]},{"id":"c67e5794.061388","type":"comment","z":"bcdf73f2.b866e","name":"getMajors Intent Fulfillment","info":"","x":147,"y":599,"wires":[]},{"id":"945cc5e4.93f7a","type":"function","z":"bcdf73f2.b866e","name":"","func":"msg.payload = \"There are 6 Majors for the Bachelors of Computer and Information Sciences:\\n\" +\n                \"Analytics\\n\" +\n                \"Computational Intelligence\\n\" +\n                \"Computer Science\\n\" +\n                \"IT Service Science\\n\" +\n                \"Networks and Security\\n\" +\n                \"Software Development\";\n\nreturn msg;","outputs":"1","noerr":0,"x":687,"y":644,"wires":[["446bd877.5435b8"]]},{"id":"19cf1978.02dfff","type":"link in","z":"bcdf73f2.b866e","name":"","links":["1353d3ec.2d88e4"],"x":52,"y":639,"wires":[["945cc5e4.93f7a"]]},{"id":"80c938aa.97c2f8","type":"comment","z":"bcdf73f2.b866e","name":"bcisRequirements Intent Fulfillment","info":"","x":176,"y":683,"wires":[]},{"id":"ab039347.ba654","type":"function","z":"bcdf73f2.b866e","name":"","func":"msg.payload = \"The minimum entry requirements for the Bachelors of Computer and Information Sciences is:\\n\" +\n                \"University Entrance or equivalent.\\n\" +\n                \"This does not guarantee entrance to the course however. To get guaranteed entrance you will need:\\n\" +\n                \"University Entrance and have one or more subjects from Calculus, Mathematics, Statistics at NCEA level 3.\\n\\n\" +\n                \"If you do not meet the requirements you can consider starting out by applying for the Certificate in Science and Technology.\";\n\nreturn msg;","outputs":"1","noerr":0,"x":686,"y":723,"wires":[["446bd877.5435b8"]]},{"id":"7edd32ee.060ffc","type":"link in","z":"bcdf73f2.b866e","name":"","links":["f0471ee3.eff38"],"x":51,"y":723,"wires":[["ab039347.ba654"]]},{"id":"87ae5cbb.25306","type":"link in","z":"bcdf73f2.b866e","name":"","links":["85adf979.166a88"],"x":51,"y":831,"wires":[["a7f455f5.f13d6"]]},{"id":"85adf979.166a88","type":"link out","z":"bcdf73f2.b866e","name":"jobPapers Switch","links":["87ae5cbb.25306"],"x":1078,"y":189.5,"wires":[]},{"id":"d9ae47a8.85bca","type":"comment","z":"bcdf73f2.b866e","name":"jobPapers Intent Fulfillment","info":"","x":154,"y":775,"wires":[]},{"id":"a7f455f5.f13d6","type":"function","z":"bcdf73f2.b866e","name":"","func":"var usrmsg = msg.payload.text;\n\nif (usrmsg.includes(\"papers\") && (usrmsg.includes(\"suited\") || usrmsg.includes(\"good for\")) && usrmsg.includes(\"software development\") && usrmsg.includes(\"job\"))\n{\n    msg.payload = \"The following papers would be a good start towards getting a job in the software development industry:\\n\" + \n                \"Programming 1, Programming 2, Program Design and Construction, Software Development Practice and Contemporary Methods in Software Engineering.\";\n}\nelse if (usrmsg.includes(\"papers\") && (usrmsg.includes(\"suited\") || usrmsg.includes(\"good for\")) && usrmsg.includes(\"networking\") && usrmsg.includes(\"job\"))\n{\n    msg.payload = \"The following papers would be a good start towards getting a job in the networks and security industry:\\n\" + \n                \"Computer Network Principles, Foundations of IT Infrastructure, Computer Network Applications, Network and System Administration, Advanced Network Technologies and Network Security..\";\n}\nelse if (usrmsg.includes(\"papers\") && (usrmsg.includes(\"suited\") || usrmsg.includes(\"good for\")) && usrmsg.includes(\"it service science\") && usrmsg.includes(\"job\"))\n{\n    msg.payload = \"The following papers would be a good start towards getting a job in the it service science industry:\\n\" + \n                \"Foundations of IT Infrastructure, Computer Technology in Society, Operating Systems, Theory of Computation and Programming Languages.\";\n}\nelse\n{\n    msg.payload = \"I'm sorry, what major did you mean? Can you type that out again?\"\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":685,"y":829,"wires":[["446bd877.5435b8"]]},{"id":"1565cf20.75b5f1","type":"switch","z":"bcdf73f2.b866e","name":"Fallback Confidence Switch","property":"payload.intent.confidence","propertyType":"msg","rules":[{"t":"gt","v":"0.4","vt":"num"},{"t":"else"}],"checkall":"true","outputs":2,"x":531,"y":152,"wires":[["58d2af17.ab6b2"],["82b46fea.8dac58"]]}]