data/flows.json
[{"id":"f37d137d.f7c26","type":"tab","label":"Initial Switch","disabled":true,"info":""},{"id":"bcdf73f2.b866e","type":"tab","label":"Responding","disabled":false,"info":""},{"id":"e1b3dcee.1681","type":"tab","label":"Slackbot","disabled":false,"info":""},{"id":"3ea711c7.59fbee","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"a227c0af.de4298","type":"slackbot-controller","z":"","name":"android17","bot_token":"xoxb-362121671893-361288114848-96kexT5y1U4qIgXNkvjw906X"},{"id":"3e65cac8.85975e","type":"http request","z":"f37d137d.f7c26","name":"Rasa Request","method":"POST","ret":"obj","url":"http://rasa:5000/parse","tls":"","x":300,"y":40,"wires":[["b27c373b.a97188"]]},{"id":"b27c373b.a97188","type":"switch","z":"f37d137d.f7c26","name":"Intent Switch","property":"payload.intent.name","propertyType":"msg","rules":[{"t":"else"}],"checkall":"false","outputs":1,"x":490,"y":40,"wires":[["8581e36a.36b23"]]},{"id":"8964aeb1.84579","type":"http request","z":"bcdf73f2.b866e","name":"Rasa Request","method":"POST","ret":"obj","url":"http://rasa:5000/parse","tls":"","x":319,"y":62,"wires":[["1b569240.cc4356"]]},{"id":"ebd5ca5d.4abf1","type":"comment","z":"bcdf73f2.b866e","name":"Greet Intent Fulfillment","info":"","x":140,"y":220,"wires":[]},{"id":"bcdc282f.26cf8","type":"function","z":"bcdf73f2.b866e","name":"","func":"var intentResponse = [\n    \"Hello\",\n    \"Hi\"\n]\n\nvar randomInt = Math.floor(Math.random() * intentResponse.length)\n    \nmsg.payload = intentResponse[randomInt]\n\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":260,"wires":[["446bd877.5435b8"]]},{"id":"4e3cb697.e83c08","type":"comment","z":"bcdf73f2.b866e","name":"Farewell Intent Fulfillment","info":"","x":150,"y":320,"wires":[]},{"id":"abc4235f.3a944","type":"function","z":"bcdf73f2.b866e","name":"","func":"var intentResponse = [\n    \"Goodbye\",\n    \"Bye\"\n]\n\nvar randomInt = Math.floor(Math.random() * intentResponse.length)\n    \nmsg.payload = intentResponse[randomInt]\n\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":360,"wires":[["446bd877.5435b8"]]},{"id":"f2a842a5.c28e5","type":"link in","z":"bcdf73f2.b866e","name":"","links":["c727ced7.0813a","4b3eb77a.535a5"],"x":55,"y":360,"wires":[["abc4235f.3a944"]]},{"id":"25317f0b.da03c","type":"link in","z":"bcdf73f2.b866e","name":"","links":["caebfeed.7bee68","3ae30e24.c65222"],"x":55,"y":260,"wires":[["bcdc282f.26cf8"]]},{"id":"82b46fea.8dac58","type":"function","z":"bcdf73f2.b866e","name":"","func":"var usrmsg = msg.payload.text;\n\n/*Negation of all keywords, responce is complaint about off-topic queries*/\nif (!usrmsg.includes(\"papers\") && !usrmsg.includes(\"software\") && !usrmsg.includes(\"bcis\") && !usrmsg.includes(\"requirements\") && !usrmsg.includes(\"prerequisites\") && !usrmsg.includes(\"engineering\") && !usrmsg.includes(\"co-requisites\") && !usrmsg.includes(\"majors\") )\n{\n    var intentResponse = [\n    \"Now that doesn't seem like it is even on topic.\",\n    \"You do realise I am only a robot, right?\"\n    ]\n\n    var randomInt = Math.floor(Math.random() * intentResponse.length)\n    \n    msg.payload = intentResponse[randomInt]\n}\n/*Else it is on topic, but the bot doesn't understand what is requested.*/\nelse\n{\n    var intentResponse = [\n    \"I'm not certain what you mean, can you try re-phrasing that?\",\n    \"Sorry I do not understand what you are asking, could you re-phrase that?\",\n    \"I am not sure what your are asking about. Can you please clarify?\"\n    ]\n\n    var randomInt = Math.floor(Math.random() * intentResponse.length)\n    \n    msg.payload = intentResponse[randomInt]\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":160,"wires":[["446bd877.5435b8"]]},{"id":"446bd877.5435b8","type":"http response","z":"bcdf73f2.b866e","name":"HTTP Response","statusCode":"","headers":{},"x":960,"y":520,"wires":[]},{"id":"2a74fdb6.c24e22","type":"http in","z":"bcdf73f2.b866e","name":"HTTP Request","url":"/chat","method":"post","upload":false,"swaggerDoc":"","x":126,"y":62,"wires":[["8964aeb1.84579"]]},{"id":"8581e36a.36b23","type":"http response","z":"f37d137d.f7c26","name":"HTTP Response","statusCode":"","headers":{},"x":600,"y":120,"wires":[]},{"id":"1af81bb9.bdb274","type":"http in","z":"f37d137d.f7c26","name":"HTTP Request","url":"/chat","method":"post","upload":false,"swaggerDoc":"","x":93,"y":37,"wires":[["3e65cac8.85975e"]]},{"id":"97ab1290.5e64f8","type":"slackbot-listen","z":"e1b3dcee.1681","slackbot":"a227c0af.de4298","name":"","x":102,"y":45,"wires":[["664cb854.256538"]]},{"id":"a93a4c73.4d9728","type":"slackbot-reply","z":"e1b3dcee.1681","slackbot":"a227c0af.de4298","name":"","x":774,"y":55,"wires":[]},{"id":"d8710263.5737f8","type":"http request","z":"e1b3dcee.1681","name":"","method":"POST","ret":"txt","url":"","tls":"","x":515,"y":52,"wires":[["a93a4c73.4d9728"]]},{"id":"664cb854.256538","type":"function","z":"e1b3dcee.1681","name":"","func":"var query = msg.payload\nvar model = 'chatBot17'\n\nmsg.url = 'http://node-red:1880/chat'\nmsg.payload = {\n    \"q\": query,\n    \"model\": model\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":299,"y":46,"wires":[["d8710263.5737f8"]]},{"id":"34fb2246.4e823e","type":"comment","z":"bcdf73f2.b866e","name":"suggestedPapers Intent Fulfillment","info":"","x":178,"y":417,"wires":[]},{"id":"86bc1c4e.09229","type":"function","z":"bcdf73f2.b866e","name":"","func":"var usrmsg = msg.payload.text;\n\nif (usrmsg.includes(\"papers\") && usrmsg.includes(\"software development\") && usrmsg.includes(\"major\"))\n{\n    msg.payload = \"Suggested Papers SD\";\n}\nelse if (usrmsg.includes(\"papers\") && usrmsg.includes(\"networking\") && usrmsg.includes(\"major\"))\n{\n    msg.payload = \"Suggested Papers NW\";\n}\nelse if (usrmsg.includes(\"papers\") && usrmsg.includes(\"it service science\") && usrmsg.includes(\"major\"))\n{\n    msg.payload = \"Suggested Papers NW\";\n}\nelse\n{\n    msg.payload = \"I'm sorry, what major did you mean? Can you type that out again, thanks.\"\n}\n\nreturn msg;","outputs":"1","noerr":0,"x":690,"y":458,"wires":[["446bd877.5435b8"]]},{"id":"7a05639b.b2e584","type":"link in","z":"bcdf73f2.b866e","name":"","links":["20e47e25.5876ea"],"x":53,"y":457,"wires":[["86bc1c4e.09229"]]},{"id":"58d2af17.ab6b2","type":"switch","z":"bcdf73f2.b866e","name":"Intent Switch","property":"payload.intent.name","propertyType":"msg","rules":[{"t":"eq","v":"greet","vt":"str"},{"t":"eq","v":"farewell","vt":"str"},{"t":"eq","v":"suggestedPapers","vt":"str"},{"t":"eq","v":"paperRequirements","vt":"str"},{"t":"eq","v":"getMajors","vt":"str"},{"t":"eq","v":"bcisRequirements","vt":"str"}],"checkall":"true","outputs":6,"x":739,"y":57,"wires":[["3ae30e24.c65222"],["4b3eb77a.535a5"],["20e47e25.5876ea"],["a49930fd.91e238"],["1353d3ec.2d88e4"],["f0471ee3.eff38"]]},{"id":"3ae30e24.c65222","type":"link out","z":"bcdf73f2.b866e","name":"greet Switch","links":["25317f0b.da03c"],"x":870,"y":21,"wires":[]},{"id":"4b3eb77a.535a5","type":"link out","z":"bcdf73f2.b866e","name":"farewell Switch","links":["f2a842a5.c28e5"],"x":910,"y":41,"wires":[]},{"id":"20e47e25.5876ea","type":"link out","z":"bcdf73f2.b866e","name":"suggested papers Switch","links":["7a05639b.b2e584"],"x":946,"y":64,"wires":[]},{"id":"1b569240.cc4356","type":"switch","z":"bcdf73f2.b866e","name":"Confidence Switch","property":"payload.intent.confidence","propertyType":"msg","rules":[{"t":"gt","v":"0.5","vt":"num"},{"t":"else"}],"checkall":"true","outputs":2,"x":524,"y":63,"wires":[["58d2af17.ab6b2"],["82b46fea.8dac58"]]},{"id":"a49930fd.91e238","type":"link out","z":"bcdf73f2.b866e","name":"paperRequirements Switch","links":["85eecb25.727418"],"x":978,"y":92,"wires":[]},{"id":"1353d3ec.2d88e4","type":"link out","z":"bcdf73f2.b866e","name":"getMajors Switch","links":["19cf1978.02dfff"],"x":1008,"y":122,"wires":[]},{"id":"f0471ee3.eff38","type":"link out","z":"bcdf73f2.b866e","name":"bcisRequirements Switch","links":["7edd32ee.060ffc"],"x":1040,"y":152,"wires":[]},{"id":"a38f7c2b.72bda8","type":"comment","z":"bcdf73f2.b866e","name":"paperRequirements Intent Fulfillment","info":"","x":188,"y":510,"wires":[]},{"id":"d243812f.a1b68","type":"function","z":"bcdf73f2.b866e","name":"","func":"var usrmsg = msg.payload.text;\n\nif (usrmsg.includes(\"requirements\") && usrmsg.includes(\"software\") && usrmsg.includes(\"development\"))\n{\n    msg.payload = \"Requirements for SD\";\n}\nelse if (usrmsg.includes(\"requirements\") && usrmsg.includes(\"software\") && usrmsg.includes(\"engineering\"))\n{\n    msg.payload = \"Requirements for SE\";\n}\nelse\n{\n    msg.payload = \"I'm sorry, what class did you mean? Can you type that out again, thanks.\"\n}\n\nreturn msg;","outputs":"1","noerr":0,"x":688,"y":550,"wires":[["446bd877.5435b8"]]},{"id":"85eecb25.727418","type":"link in","z":"bcdf73f2.b866e","name":"","links":["a49930fd.91e238"],"x":53,"y":550,"wires":[["d243812f.a1b68"]]},{"id":"c67e5794.061388","type":"comment","z":"bcdf73f2.b866e","name":"getMajors Intent Fulfillment","info":"","x":147,"y":599,"wires":[]},{"id":"945cc5e4.93f7a","type":"function","z":"bcdf73f2.b866e","name":"","func":"msg.payload = \"Get Majors\";\n\nreturn msg;","outputs":"1","noerr":0,"x":687,"y":639,"wires":[["446bd877.5435b8"]]},{"id":"19cf1978.02dfff","type":"link in","z":"bcdf73f2.b866e","name":"","links":["1353d3ec.2d88e4"],"x":52,"y":639,"wires":[["945cc5e4.93f7a"]]},{"id":"80c938aa.97c2f8","type":"comment","z":"bcdf73f2.b866e","name":"bcisRequirements Intent Fulfillment","info":"","x":176,"y":683,"wires":[]},{"id":"ab039347.ba654","type":"function","z":"bcdf73f2.b866e","name":"","func":"msg.payload = \"BCIS Requirements\";\n\nreturn msg;","outputs":"1","noerr":0,"x":686,"y":723,"wires":[["446bd877.5435b8"]]},{"id":"7edd32ee.060ffc","type":"link in","z":"bcdf73f2.b866e","name":"","links":["f0471ee3.eff38"],"x":51,"y":723,"wires":[["ab039347.ba654"]]}]